@charset "utf-8";

:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}

body{
    /* background:#121214; , background-image: url(assets/read_news.jpg); */
    /* background-position: right; */
    background-color: #121214;
    width: 100%;
    height: 50%;
    top:-4px;
    left: -2px;
}

#imagem{
    position: relative;
    display: flex;
    justify-content: end;
}

#rocket{
    position: absolute;
    top: 50px;
    left: 30px;
}

#text{
    position: absolute;
    width: 65%;
    top: 236px;
    left: 36px;
}
h2{
    color: #04D361;
}

#day{
    color: white;
}

p{
    color: #A8A8A8;
}

#form{
    position: absolute;
    width: 789px;
    height: 84px;
    left: 36px;
    top: 388px;
}

label{
    color: #A8A8A8;
    font-size: 18px;
}

input{
    width: 750px;
    height: 48px;
    top: 422px;
    left: 29px;
}

::-webkit-input-placeholder{
    font-size: 14px;
}

#link{
    position: absolute;
    width: 196px;
    height: 24px;
    left: 36px;
    top: 522px;
}

a{
   text-decoration: none; 
   font-size: 16px;
   color: purple;
}
